.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url(http://www.gravatar.com/avatar/8c4d81460a7e3bc29ddf72b313f06884.png) no-repeat;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title a {
  text-decoration: none;
  font-weight: bold;
}

.highlight {
  border: 1px #DDDDDD solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 1em;
  background-color: #F8F8F8;
  margin-bottom: 1em;
}

.footer {
  text-align: center;
}

.add-top { margin-top: 1em !important; }