.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url(http://www.gravatar.com/avatar/8c4d81460a7e3bc29ddf72b313f06884.png) no-repeat;
}

.title a {
  text-decoration: none;
  font-weight: bold;
}

.highlight {
  border: 2px #CCC solid;
  padding: 1em;
  background-color: #EFEFEF;
  margin-bottom: 1em;
}